html {
  background-color: antiquewhite;
}

body {
  text-align: center;
  font-size: 18px;
}

h1 {
  font-size: 50px;
}

img {
  max-width: 100%;
  height: auto;
}

div {
  border: 2px solid burlywood;
  margin: auto;
  max-width: 80%;
}

#introPic {
  float: left;
  width: 100%;
}

#bio {
  float: right;
  width: 100%;
}
#bio > li {
  padding: 2px;
}

#pro {
  width: auto;
}

@media only screen and (min-width: 768px) {
  #introPic, #bio {
      float: none;
      display: inline-block;
      vertical-align: top;
  }

  #introPic {
    height: 50%;
    width: 50%;
  }

  #bio {
      width: 50%;
  }

  body {
      font-size: 20px;
  }

  h1 {
      font-size: 60px;
  }

  div {
      max-width: 60%;
  }
}
